@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');
*{
    margin:0;
    padding:0; 
    box-sizing: border-box;}
    .ham{display:none}
    .ham_menu{display:none;}
.blind{
    display: none;
}
ul:after{
    display:block; 
    content: "";
    clear:both;
}
li{list-style: none;}
a{
    text-decoration: none;
    color:#333;}

body{font-family: 'Roboto Mono', Arial, monospace;
background: #fff;}

header{
    position: fixed;
    top:0;
    left:0;
    width:100%; 
    height:70px;
    z-index: 100;
    background:rgba(255,255,255,0.45);
    border-bottom: 1px solid rgb(158, 158, 158);
}
#fp-nav.fp-right{
    left:25px;
}






.headerIn{
    width:900px;
    height:70px;
    margin:0 auto; 
}
.headerIn ul{
    display:flex;
}
.headerIn li{
    flex:1;
    text-align: center;
}
.headerIn li a{
    line-height: 80px;
}


main{width:100%;}
section{position: relative;}

h1{line-height:60px;
    position: absolute;
    top:0; 
    left:2%;
    font-size:60px;
    color:#010101;
    font-weight: 400;
    
}
.menu_icons{
    position: absolute;
    top:0; 
    right:5%;
}
.m_icons_list{
    width:30%;
    line-height:10px;
    display:flex;}
.m_icons_item{
    width:100%;
    flex:1;
    margin:0 10%;
}
.m_icons_item a{display: block;
    margin:0 10%;}
.m_icons_item dt{
    text-align: center;
    opacity:0;
    margin-top:14px;
    font-size:15px;}
.m_icons_item dd{
    text-align: center;
    display: inline-block;
    margin-top:0px;
    line-height:10px;
    font-size:30px;
}
.m_icons_item a:hover dt{
    opacity:1;
    transition: 0.4s;
}
.m_icons_item a:hover dd{
    margin-top:5px;
    transition: 0.4s;
}
section h2{
    position: absolute;
    top:480px; 
    left:50%;
    transform: translate(-50%);
    font-size: 80px;
    color:#fff;
}
.headline{
    letter-spacing:20px;
   
}

.slideitem:hover .headline{
    letter-spacing: 0px;
    transition: 0.8s;
}

section p{
    position: absolute;
    top:580px; 
    left:50%;
    transform: translate(-50%);
    font-size: 25px;
    color:#fff;
}
section span{
    width:200px; 
    height:1px; 
    background:rgb(252, 251, 251);
    display: inline-block; 
    position: absolute;
    top:620px; 
    left:50%;
    transform: translate(-50%);
}
#s0{
   width:100%; 
   height:100%; 
   object-fit:cover;
   overflow:hidden;
}
.slidebox{}
.sliderlist{
    position:relative
}
.sliderlist li{
    width:100%;;
    position:absolute;
    top:0;
    left:0;
    
    

    
}
.sliderlist li img{
    width:100%;
   object-fit: cover;
   height:100vh;
   
    
}


.swiper{
    margin-top:200px;
    overflow: hidden;
    position: relative;
    width:100%; 
    height:100%;}

.seimglist{
    position:absolute;
    top:80px;
    text-align: center;
}

.seimglist li{
display: block;
overflow: hidden;
float:left;
width:65vw;
height:65vh;
text-align: center;
align-items: center;

}

 
.swiper-slide img {
    filter: saturate(60%);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }


.seimglist.swiper-wrapper li img{
  
    width:100%; 
    height:100%;
}
.seimglist li a:hover img{
    transform: scale(1.2);
    transition: 1s;
    filter: saturate(100%);
    overflow: hidden;
    
}

.thr_wrap{}
.thrlist{}

.thrlist li{
    position: relative;
    width:50%;
    height:100%;
    float:left;
  }
  .thrlist li a{
      width:100%; 
      height:100%;
  }
    .thrlist li.fir_img img{
        width:100%; 
        height:100vh;
        object-fit: contain;
    }

    .thrlist li:hover img{

        /*filter: saturate(60%);
        transition: 0.4s;*/
    }
    .thrlist li:hover .cover{
        opacity: 1;
        transition: 1s;}
    .thrlist li.second_img img{
        margin-top: 150px;;
        margin-left: 50px;
        width:80%;
        height:70vh;
        object-fit: contain;
    }
    .cover{opacity: 0;}
    li .cover h3{
        position: absolute;
        top:100px; 
        left:100px;
        font-size:70px;
        color:#fff;
        transition: 1s;
    }
    li.fir_img h3{
        top:50%;
        left:20%;
    }
    li .cover p{
        position: absolute;
        top:60%; 
        left:45%;
    }
    li .cover span{
        width:200px; 
        height:1px; 
        background:rgb(252, 251, 251);
        display: inline-block; 
        position: absolute;
        top:600px; 
        left:45%;
        transform: translate(-50%);
    }
    li.second_img h3{
        top:50%; 
        left:45%;
        transform: translate(-50%);
    }
    li.second_img span{
        top:65%;
        left:45% 
    }

    /*섹션 3 부분*/
#s3{position:relative;}

.section_txt{

    color:#333;
    position:absolute;
    z-index:100;
    top:40vh;
    left:50%; 
    transform:translate(-50%);
    width:500px; 
    height:500px;
    text-align:center;
}



.section_txt h2.section_txt_T{  
    
    padding:40px;
   top:-20vh;   
   color:#000;
   transition: 2s;
    
}
#s3 .section_txt a.posi .more{
    top:20vh;
    color:#000;
    font-size: 16px; 
}
#s3 .section_txt a.posi .line{
    top:25vh;
    background:#000;  
}
 

.fo_img{}
.fo_img ul{
    width: 100%;
    height:100%;}
.fo_img>ul>li{
    position: relative;
    width:50%; 
    height:100%;
    float:left;}
    .fo_img ul li img{
        object-fit: cover;
    }

    .fo_img ul li:first-child img{ 
        position:absolute; 
        left:-100%;
        width:100%;
        
    } 
    .fo_img ul li:last-child img{
        position:absolute; 
        right:0;
        top:100px;
        width:40vw; 
        height:80vh;
    }


    /*페이지 5 부분 */
 .cellbox{
     position:absolute; 
     top:0;
     left:0;
     height:100%;
     
    
}


 .cell1{
     position: absolute;
     position:relative; 
     top:0;
     left:6vw;
     z-index: 10;  
     float:left;
     width:28vw; 
     height:100%;
     background:#fff;
 }

 .changetxt{
     display: none;
     position:absolute;
     top:40%;
     left:20%; 
     padding:2vw;
     background:#fff;
     

 }
 .changetxt.active{display: block;}

.changetxt .cell_title{ 
    font-size:60px;
    line-height:60px;

}

.cell_ex{
    font-family:Arial;
    margin-top: 60px;
    color:rgb(129, 129, 129);
}


.sliderbar{display: inline-block;}
.sliderbar ul{
    position: relative;}
.sliderbar ul li{
    position: absolute;
    top:-8px;
    left:0;
}



.slider_direc{
    display:block;
    position:absolute;
    top:20%;
    right:0;
    width:100px; 
    height:20px;
    
}
.btn_klein_left{}
.btn_klein_right{float:right;}


    .cell2{
        position: absolute;
        top:0;
        left:calc(23vw + 233px);
        float:right;
        width:70vw; 
        height:70%;
        overflow: hidden;
    }
  
        .cell2 .glas_slider{
            width:100%;
            height:70%;
            padding-left: 2vw;}
            .cell2 {
                position: absolute;
                top:10%;
                float:right;}
        .cell2 .poto_box{
            position: relative;
            width:100%; 
            height:100%;
            
        }
        .slick-arrow{
            
            width:20px;
            height:20px;
            text-indent: -9999px;
            position:absolute;
            bottom:-20%;
            left:-20%;
            background-color:transparent;
            cursor: pointer;
            border:0;}
            .slick-next{
                z-index: 100;
                left:10%;
                width:20px;
                height:20px;
                background-repeat: no-repeat;
                background-image: url("../img/swiper-next-button.png");} 
            .slick-prev{
                z-index: 1;
                left:0;
                width:20px;
                height:20px;
                background-image: url("../img/swiper-prev-button.png");
                background-repeat: no-repeat;}
        
                .slick-dots{
                  
                }
                
        .slick-dots li{
            position: absolute;
            top:0;
            left:0;
            float:left;
            text-indent:-9999px;
            border:0; 
            width:10px; 
            height:10px;
            border-radius: 50%;;
            background:#000;

        }






        .poto_box .subimg{
            position:absolute;
            top:0;
            opacity: 0;
        }
        .cell2 .poto_box img{
            width:100%; 
            height:100%;
        }
        .cell2 .poto_box a:hover .mainimg{
            opacity:0;
            transition: 0.3s;}
        .cell2 .poto_box:hover .subimg{
            opacity:1;
            transition: 0.5s;
            }

 /*섹션 5부분 마지막 */
.contain{
    padding-top: 65px;
    width:100%; 
    height:85%; 
}
.prolist{
    display: inline-block;
    width:100%; }
.showtime{
    padding-top:0px;;
    bottom: 20vh;;
    height:20vh;
    width: 100%;}

.proitem{
    float:left;
    width:25%;
    height:80%;
    border:1px solid #8b8b8b; 
    border-top: 0;}
    .proitem img{
        width:100%; 
        height:100%;
        object-fit: contain;
    }
    .proitem img.subimg{display:none}
    
    .textbox{
        position: relative;
        margin-left:25px;

    }
    dt{font-size: 20px;}
    dd{font-size: 16px;  
       margin-top: 30px;
       float: left;}
    dd.pri{
        font-size: 35px;
        font-weight: 700;
      
      
    }
    dd>s{display: inline-block;
        color:#8b8b8b;
        margin-left: 20px;
        margin-top: 10px;}
    dd.dis{ 
        display: inline-block;
        margin-left: 20px;
        padding-top: 10px;}
    dd.icon{
        display:inline-block;
            margin-left:15%;
            padding-top:10px;}

.showtime ul{
    width:100%;
    display: flex;}
.showtime li{
    flex:1;
    margin-left:20%;
    line-height:100px;
    font-size:60px;
    color:#9796968c;
    font-weight: 400;
    transform: translate(0);
    animation: INfi 3s infinite forwards ;
}
@keyframes INfi{
    
    0%{transform: translate(0%);opacity: 0; transition: 0.5s;}
    50%{transform: translate(-50%);opacity: 1; transition: 0.5s;}
    100%{transform: translate(-100%);opacity: 1; transition: 0.5s;} 
}
.proitem a:hover .mainimg{
    display: none;
    transition: 0.3s;}
.proitem a:hover .subimg{
    display: block;
    transition: 0.5s;
    }





/*part of footer*/

.fp-auto-height{
   bottom: 0;;
    width:100%;
    
    background:#010101}

.footer_w{
    width:960px;
    margin:50px auto;
}
.footerinner{color:#fff; 
}


.top{ padding-top:30px;
    text-align: center;}
.top ul{display:flex;}
.top li{flex:1;
margin-left: 10%;}
.top li a{
    font-size: 13px;;
    color:#fff;}



.middle{
    padding:40px;
    text-align: center;}
.middle ul{}
.middle li{
    font-size: 12px;;
}
.middle li a{}